/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
  font-size: 2.5em;
}

/* Container for the entire app */
.container {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px;
}


/* Form styling */
.task-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}



.task-input {
  flex: 1;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.task-button {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-button:hover {
  background-color: #303f9f;
}


/* Tasks list */
.tasks {
  list-style-type: none;
  padding: 0;
}

.task {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task span {
  flex: 1;
  text-decoration: none;
  color: #333;
}

.task span.completed {
  text-decoration: line-through;
  color: #888;
}

.edit-buttons {
  display: flex;
  gap: 5px;
}

/* Buttons for task actions */
.task button {
  background-color: #495dcf;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.task button:hover {
  background-color: #303f9f;
}

.remove-button {
  background-color: #f44336;
}

.remove-button:hover {
  background-color: #d32f2f;
}

.save-button {
  background-color: #4caf50;
}

.save-button:hover {
  background-color: #388e3c;
}

.cancel-button {
  background-color: #9e9e9e;
}

.cancel-button:hover {
  background-color: #616161;
}

/* Input styling for editing tasks */
.task input {
  flex: 1;
  padding: 5px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}


/* Widgets styling */
.widgets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 400px;
  margin-bottom: 20px;

}

.widget {
  flex: 1;
  background: #404147;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  
}

.widget p {
  margin: 0;
  font-size: 1.5em;
  
}
